.txt-drk, .tp-section-title.fs-44, .tp-section-subtitle{color: #000 !important;}
.creative-blog-title-sm {color: var(--tp-common-black);}
.creative-blog-meta span{    color: var(--tp-text-body);}
b,strong{color: #de1d5a;}
.blg-li{padding-left: 3%; padding-bottom: 1%;}
h3.fs-28{ font-size: 24px !important;
    font-weight: 600 !important;
    margin: 18px 0 !important;}

